.background {
  background-color:aliceblue;
  overflow: hidden;
}

.circle {
    background-color:cadetblue;
    display: inline-block;
    height: 0;
    padding-bottom: 80%;
    border-radius: 50%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    bottom: 120px;
    position: absolute;
}

.tempature {
  padding-top: 5%;
  color: white;
  text-align: center;
  font-size: xxx-large;
}

.place {
  text-align: center;
  font-size: large;
  color: white;
}

.sky {
  height: 50%;
  width: 100%;
  background-color: #bbb;
  display: inline-block;
  position: absolute;
}

.bottom {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: #bbb;
  display: inline-block;
  overflow: hidden;
}

.box {
  color:black;
  background-color: white;
  font-size:x-small;
  width: 50px;
  height: 80px;
  margin-top: 10px;
  margin-left: 10px;
  float: left;
  position: relative;
}
.boximg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.sun {
  bottom: 300px;
  right: 10px;
  width: 60px;
  height: 60px;
  position: absolute;
}

.moon {
  bottom: 200px;
  right: 10px;
  width: 60px;
  height: 60px;
  position: absolute;
}

.time {
  display: inline-block;
  font-size: xx-large;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 100%;
  left: 50px;
  background-color: aliceblue;
  position: absolute;
  text-align: center;
}

.now {
  display: inline-block;
  font-size: xx-large;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 50px;
  left: 0px;
  background-color: aliceblue;
  position: absolute;
}

.location {
  display: block;
  font-size: xx-large;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 50px;
  right: 0px;
  background-color: aliceblue;
  position: absolute
}

.warning {
  background-color:crimson;
  color: yellow;
  width: 100%;
  height: 40px;
  font-size: large;
  position: absolute;
  text-align: center;
  top: 50px
}

.list {
  width: 100%;
  height: 100%;
  font-size: large;
  position: absolute;
  text-align: center;
  top: 100px
}

.city {
  display: table;
  text-align: left;
  position: relative;
  height: 100px;
  width: 100%;
  background-color: #bbb;
  overflow: hidden;
  font-size: xx-large;
  border: 2px solid;
}

.cityset {
  text-align: center;
  color:black;
  background-color: white;
  font-size:x-small;
  width: 50px;
  height: 96px;
  right:0px;
  top:2px;
  position: absolute;
}

.citysym {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 48px;
  height: 48px;
  position: relative;
  font-size: x-large;
}

.here {
  display: inline-block;
  font-size: xx-large;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 50px;
  left: 0px;
  top: 50px;
  background-color: aliceblue;
  position: absolute;
}

.search {
  display: inline-block;
  font-size: xx-large;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 100%;
  left: 50px;
  top: 50px;
  background-color: white;
  position: absolute;
  text-align: left;
}

.bigwarn {
  top:100px;
  position: absolute;
  color: crimson;
  font-size: x-large
}